body {
  background-color: 'purple';
}

h1 {
  color: #111;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  text-align: center;
}

.author {
  color: #111;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  position: relative;
  text-align: center;
  padding-bottom: 2em;
}

.pregunta{
  color: #111;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  padding: 0.5em 0 0.5em 0;
  position: relative;
  text-align: center;
}

.texto{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 200;
}

.icon{
  position: relative;
  bottom: 2.75em;
  left: 2.5em;
}

.hline-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(206, 196, 196, 0.815); /* whichever color you prefer */
}

.stats > div{
  padding: 1em;
}

.porcentaje{
  font-family: 'Montserrat', sans-serif;
  color: #7FC3CF;
  font-size: 3em;
  font-weight: 400;
}

.detalle_porcentaje{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6em;
  font-weight: 200;
}

.recomendacion{
  border: solid;
  border-width: 0.01em;
  padding: 1em;
}